

<ng-container *ngIf="users$ | async as users">
	<div class="flex">
		<mat-card class="item-card" *ngFor="let user of users">
			<mat-card-header>
				<mat-card-title>
					<h2>{{user.name}}</h2>
				</mat-card-title>
			</mat-card-header>
			<img mat-card-image [src]="user.profilePicture" [alt]="user.name + 's profile picture'" />
			<mat-card-actions>
				<button 
					mat-raised-button 
					color="primary"
					(click)="goToDetail(user.id)">Show profile</button>
			</mat-card-actions>
		</mat-card>
	</div>
	
	
</ng-container>
